a:hover {
    color: #ffba00;
}

body {
    background-color: rgb(247, 247, 247);
}
main {
    box-sizing: border-box;
    width: 83%;
    padding: 30px;
    margin: 35px auto;
    background: white;
}

h2 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 9px;
    color: rgb(51, 51, 51);
}
h3 {
    font-size: 15px;
    font-weight: 400;
    color: gray;
}
#header {
    padding-bottom: 20px;
    border-bottom: gray dotted 1px;
    margin-bottom: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}
#header > img {
    vertical-align: bottom;
    width: 71px;
}
#info {
    margin-left: 10px;
    padding-bottom: 7px;
}
#content > h2 {
    padding: 0;
    margin: 18px 0;
    font-weight: 600;
}

#content > p {
    margin-bottom: 10px;
}
#content > h2 > img {
    position: relative;
    top: 6px;
}
#video-box {
    width: 60%;
}
#video-box video {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 840px) {
    main {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: aliceblue;
    }
    body {
        width: 100%;
    }
    html {
        min-width: 350px;
    }

    #header img {
        width: 20%;
        height: auto;
    }
    #video-box {
        width: 80%;
    }
    #content > img {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    #video-box {
        width: 100%;
    }
}
